<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Paraphrasing Tool</title>
     <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">

</head>
<body>
<div class="container">
    <h1>Paraphrasing Tool</h1>
    <p class="mssg">This may take few seconds</p>

    <form action="/perform_paraphrase" method="post">
        <label>Enter Text:</label><br>
        <textarea name="text" rows="6" cols="50"></textarea><br>
        <input type="submit" value="Paraphrase">
    </form>
    {% if result %}
    <div class="results">
        <h2>Paraphrased Text:</h2>
        <pre>
        <p>{{ result }}</p>
        </pre>
    </div>
    {% endif %}
</div>
</body>
</html>
